<!DOCTYPE html>
<html>
<head>
  <title>Maoz Web Site<%= " | #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<div id="header">
  <%= render(:partial => 'layouts/navigation_header', :locals => {:subjects => @subjects}) %>
</div>
<div class="sidebar-nav navbar-inverse" id="wizardMenu">
  <%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
</div>

    <div id="main">
      <%= yield %>
      <div id="content">
  </div>                                                                </div>

<footer>
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <p class="text-center">Maoz Yizhack</p>
    </div>
  </div>
</footer>


</body>
</html>
